@charset "UTF-8";
@import url('https/fonts.googleapis.com/css?family=Lato:300,400,700,900&apos');
html {
  height: 100%;
}
body {
font-family: "Lato", sans-serif;
text-decoration: none;
color: #232323;
overflow-x: hidden;
max-width: 100vw;
margin: 0;
height: 100%;
}

::-webkit-scrollbar {
    background: #23232330;
}
::-webkit-scrollbar-thumb {
	background: #232323;
}
::selection {
  color: #FFF;
  background: #232323;
}

header {
  height: 85vh;
  width: 100%;
  background-image: url('../bilder/loftesnesbrui.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  margin-top: 2em;
  width: 100%;
  color: #FFF;
  font-size: 4.5em;
  font-weight: 100;
  text-shadow: 1.5px 1.5px #23232350;
  text-align: center;
}

.pil_breidd {
  width: 100%;
  text-align: center;
}
.pil {
  font-size: 5em;
  color: #FFF;
  margin-top: 1em;
}

.pil_under {
  margin-top: 5em;
}

.fa-arrow-circle-up {
  font-size: 5em;
  color: #232323;
  margin-top: .7em;
  margin-bottom: .5em;
}



nav {
  padding: 1rem;
  margin-top: 2rem;
  width: auto;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;

}

nav ul {
  display: inline-block;
}

nav a {
  margin: 1.5rem;
  text-decoration: none;
  color: #FFF;
  text-shadow: 1.5px 1.5px #23232350;
}


 .understrek::after {
  width: 100%;
  transform: scale(0);
  content: '';
  height: 1px;
  background-color: #FFF;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: transform 300ms ease;
}

 .understrek {
  position: relative;
  text-decoration: none;
}

.understrek:hover:after {
     transform: scale(1);
     transition: transform 300ms ease;
     transform-origin: center;
 }


 .svart_understrek::after {
  width: 100%;
  transform: scale(0);
  content: '';
  height: 1px;
  background-color: #232323;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: transform 300ms ease;
}

 .svart_understrek {
  position: relative;
  text-decoration: none;
}

.svart_understrek:hover:after {
     transform: scale(1);
     transition: transform 300ms ease;
     transform-origin: center;
 }


.dropdown {
  position: relative;
  display: inline-block;
  color: #FFF;
  text-shadow: 1.5px 1.5px #23232350;
}

.dropdown span {
  cursor: pointer;
  transition: 250ms;
  margin-left: .3em;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: 250ms;
}

.dropdown span:hover .right {
  transition: 250ms;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown:hover .right {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

i {
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: .25em;
  margin-bottom: .15em;
  margin-right: .3em;
  text-shadow: 1.5px 1.5px #23232350;
}

.dropdown_content {
  transform-origin: top;
  transform: scaleY(0);
  margin-left: -25px;
  transition: transform 300ms ease;
  position: absolute;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: hidden;
  text-align: left;
}

.dropdown_content a {
  background-size: 0 0;
  font-size: .9em;
  transition: 250ms;
  margin-left: -1.6em;
  color: #FFF;
  text-shadow: 1.5px 1.5px #23232350;
}

.dropdown_content li {
  margin: .8em;
}

.dropdown:hover .dropdown_content {
   transform: scaleY(1);
   transition: transform 300ms ease;
}


.under_nav {
  width: 100%;
}

.under_nav a {
  color: #232323;
  text-shadow: none;
  margin-left: 5%;
  margin-right: 5%;
}


 h2 {
  margin-left: 2em;
  margin-top: 1.5em;
  font-weight: 250;
  font-size: 3em;
  border-bottom: 2px solid #232323;
  display: inline-block;
}


p {
  font-size: 1.25em;
  padding: 2em 4em 2em 4em;
  line-height: 1.4em;
}


img {
  width: 100%;
  padding: 0.2em;
}

 .bilder_galleri {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .5em;
  margin-left: -.2em;
}

.bilder_galleri_stadar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .5em;
  margin-left: -.2em;
}


footer {
  background-color: #232323;
  color: #FFF;
  font-size: .9em;
}


@media (max-width: 1366px) {
  header {
    height: 85vh;
  }
  h1 {
    font-size: 4em;
    margin-top: 1em;
  }
  h2 {
    margin-top: 1em;
    font-size: 2.5em;
  }
  nav {
    margin-top: 1.5rem;
    font-size: 1em;
  }

  .pil {
    margin-top: .5em;
  }

  .pil_under {
    margin-top: 3em;
  }

  p {
    font-size: 1.1em;
  }
  .bilder_galleri {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .bilder_galleri_stadar {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .rad_4 {
    display: none;
  }
  footer {
    font-size: .8em;
  }
}

@media (max-width: 1024px) {
  nav {
    font-size: 0.8em;
  }
  footer {
    font-size: 0.8em;
  }
  p {
    line-height: 1.4em;
    font-size: 1em;
  }
}

@media (max-width: 450px) {
  .bilder_galleri {
    grid-template-columns: 1fr;
  }
 .rad_4, .rad_3, .rad_2 {
    display: none;
  }
  p {
    font-size: 0.2em;
    line-height: 1em;
  }
}
